<html>

<head>
  <title>Warmer Winter Walks</title>

  <!-- JQuery -->
  <script src='scripts/jquery.min.js'></script>

  <!-- Vue.js and Ajax -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  <!-- CSS / Bootstrap -->
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <!-- Required meta tags for bootstrap vue -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>My first BootstrapVue app</title>

  <!-- Required Stylesheets for bootstrap vue -->
  <link
    type="text/css"
    rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
  />
  <link
    type="text/css"
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
  />

</head>

<!-- HTML -->
<body>
  <div id="map"></div>
  <div id="right-panel">
    <div id="logo-div">
      <h1>Warmer<br>Winter<br>Walks</h1>
    </div>

    <div id="search-panel" v-if="isSearching">
      Searching
      {{options}}
      <b-form-select v-model="selected" :options="options"></b-form-select>
    </div>
    <div id="results-panel" v-else>
      Results
      
      <!--Warmer vs. Faster Tabs-->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#warmer-tab">Warmer</a></li>
        <li><a data-toggle="tab" href="#faster-tab">Faster</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="warmer-tab">
          TODO WARMER ROUTE
        </div>
        <div class="tab-pane" id="faster-tab">
          TODO FASTER ROUTE
        </div>
      </div>

    </div>
  </div>
  <!-- Our JS -->
  <script src='scripts/page.js'></script>
</body>

</html>
