
/* Main Containers */
#map {
  height: 100%;
  width: 70%;
}

#right-panel {
  position: absolute;
  height: 100%; 
  width: 30%;
  left: 70%;
  top: 10px;
}

#logo-div {
  width: 100%;
  text-align: center;
}





#oop {
  background-color: red;
}