
.result-marker {
    position: absolute;
    right: 0;
}

.result-span {
    position: absolute;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.result-div {
    position: absolute;
    left: 0;
    width: 80%;
    height: 95%;
    border-bottom: 1px solid black;
}